:root {
  --pink: #ee9d9d;
  --purple: #7e405f;
  --yellow: #f4dc26;
}

:root {
  --color-text-main: var(--pink);
  --color-background-main: var(--purple);
  --color-background-hover: var(--pink);
  --color-link: var(--yellow);
}
