@import '_reset.scss';
@import '_variables.scss';

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Odibee Sans', sans-serif;
}

#app {
}
